<phpunit>
  <testsuites>
    <testsuite name="Core_ObjectTest">
      <file>tests/Core/Core_ObjectTest.php</file>
    </testsuite>
    <testsuite name="Core_APITest">
      <file>tests/Core/Core_APITest.php</file>
    </testsuite>
    <testsuite name="Core_CollectionTest">
      <file>tests/Core/Core_CollectionTest.php</file>
    </testsuite>
    <testsuite name="Assembla_APITest">
      <file>tests/Assembla/Assembla_APITest.php</file>
    </testsuite>
    <testsuite>
      <file>tests/Assembla/Assembla_API_ServiceTest.php</file>
    </testsuite>
<!--
    <testsuite name="Assembla_API_V1_RequestTest">
      <file>tests/Assembla/Assembla_API_V1_RequestTest.php</file>
    </testsuite>
-->
    <testsuite name="Assembla_API_V1_ResponseTest">
      <file>tests/Assembla/Assembla_API_V1_ResponseTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
